<div class="flex flex-col w-full h-full justify-center items-center gap-4">
  <div class="card flex flex-col justify-center gap-3 w-80 p-4" [formGroup]="registerForm">
    <div class="flex flex-col items-center gap-1">
      <h1 class="text-2xl font-semibold">Registration</h1>
      <p class="text-sm text-gray-500">Sign up for an account</p>
    </div>
    <p-iftalabel class="w-full">
      <input
        fluid
        pInputText
        id="username"
        formControlName="usernameValue"
        autocomplete="off"
        placeholder="Username"
      />
      <label for="username">Username</label>
    </p-iftalabel>

    <p-iftalabel class="w-full">
      <p-password
        fluid
        id="password"
        formControlName="passwordValue"
        autocomplete="off"
        placeholder="Password"
        [toggleMask]="true"
      />
      <label for="password">Password</label>
    </p-iftalabel>

    <p-iftalabel class="w-full">
      <p-password
        fluid
        id="repeat-password"
        formControlName="repeatPasswordValue"
        autocomplete="off"
        autofocus="false"
        placeholder="Repeat Password"
        [feedback]="false"
        [toggleMask]="true"
      />
      <label for="repeat-password">Repeat Password</label>
    </p-iftalabel>

    <!-- Weak password -->
    @if (
      registerForm.get('passwordValue')?.errors?.['weakPassword'] &&
      (registerForm.get('passwordValue')?.touched || registerForm.get('passwordValue')?.dirty)
    ) {
      <p-message severity="error">
        Password must be at least 8 characters, include a capital letter and a number.
      </p-message>
    }

    <!-- Password mismatch -->
    @if (
      registerForm.errors?.['passwordMismatch'] &&
      (registerForm.get('repeatPasswordValue')?.touched ||
        registerForm.get('repeatPasswordValue')?.dirty)
    ) {
      <p-message severity="error"> Passwords do not match. </p-message>
    }

    <p-button fluid label="Sign Up" (onClick)="register()" [disabled]="registerForm.invalid" />
  </div>
</div>
